blur {
// 	passes 3
// 	offset 6.0
// 	noise 0.05
// 	saturation 0.9
}

window-rule {
	background-effect {
		blur true
	}
}

window-rule {
	popups {
		geometry-corner-radius 6
		opacity 0.8
		background-effect {
			blur true
			xray false
		}
	}
}
