include "general.kdl"
include "layout.kdl"
include "window-rules.kdl"
include "input.kdl"
include "output.kdl"
include "animations.kdl"
include "tv-animation.kdl"
include "binds.kdl"
include "noctalia.kdl"
include "noctalia-local.kdl"
