spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "albert" "--platformtheme" "gnome"

prefer-no-csd

environment {
  XDG_CURRENT_DESKTOP "niri"
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

config-notification {
    disable-failed
}
