layout {
    border {
        active-color   "#a6a6a6"
        inactive-color "#211c1c00"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#000a"
        inactive-color "#0007"
        offset x=4 y=4
        softness 16
        spread 4
    }
}

// Set the overview wallpaper on the backdrop.
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

window-rule {
    // Rounded corners for a modern look.
    geometry-corner-radius 12

    // Clips window contents to the rounded corner boundaries.
    clip-to-geometry true
}

debug {
    // Allows notification actions and window activation from Noctalia.
    honor-xdg-activation-with-invalid-serial
}

switch-events {
    lid-close { spawn "bash" "-c" "qs -c noctalia-shell ipc call sessionMenu lockAndSuspend"; }
}

binds {
    Mod+Space hotkey-overlay-title="Open AI Assistant" { spawn-sh "qs -c noctalia-shell ipc call plugin:assistant-panel toggle"; }
    Mod+D hotkey-overlay-title="Open App Launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+E hotkey-overlay-title="Open Emoji Finder" { spawn-sh "qs -c noctalia-shell ipc call launcher emoji"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
    Super+S hotkey-overlay-title="Toggle Shell Settings" { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    XF86Tools { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    Mod+Alt+W hotkey-overlay-title="Open Wallpaper Settings" { spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Session Menu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
}
