layout {

    focus-ring {
        active-color   "#98acb3"
        inactive-color "#1c2021"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#98acb3"
        inactive-color "#1c2021"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1c202170"
    }

    tab-indicator {
        active-color   "#98acb3"
        inactive-color "#415258"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#98acb380"
    }
}

recent-windows {
    highlight {
        active-color "#98acb3"
        urgent-color "#fd4663"
    }
}
